    <script>
      google.setOnLoadCallback(drawChart1);
      function drawChart1() {
        var data = google.visualization.arrayToDataTable(<%=raw @report.data["demographic_matrix"] %>);

        var options = {
          chart: {
          
          },
          bars: 'vertical',
          vAxis: {format: 'decimal'},
          height: 300,
          colors: ['#C21B1B', '#006D9F','#7D2990', '#F5A623',]
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

        
      }
    </script>

    <script>
      google.setOnLoadCallback(drawChart2);
      function drawChart2() {

        var data = google.visualization.arrayToDataTable([
          ['Party', 'Percentage'],
          ['Republican',   <%= @report.data["voters_by_party"]["REP"] %>],
          ['Democrat',     <%= @report.data["voters_by_party"]["DEM"] %>],
        ]);

        var options = {
          height: 300,
          width: 600,
          colors: ['#C21B1B', '#006D9F',],
          chartArea: {
            backgroundColor: "black"
          },
          backgroundColor: "transparent"
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>   

  <div class="container-fluid" id="header">
    <div class="row">
    </div>
  </div>


  <div class="container-fluid" id="ribbon">
    <div class="row">
      <div class="col-md-2 col-md-offset-1  rating centered">
        <img src="<%= asset_path 'realsmart-reports-white.png' %>" class="img-circle" style="height:100px;">
      </div>
    
      <div class="col-md-6">
        <h1 class="ribbon-rep">
         <strong class="giant-title">
         	<%= @report.winner %> Victory Predicted for <%= @district.full_name %> </strong>
        </h1>
      </div>
      <div class="col-md-2 rating centered">
        <p class="text">Contestability Rating:</p>
        <%= star_meter(@report.contestability) %>
        <p class="text"><%= @report.contestability %></p>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="section-1">
    <div class="row ">
      <div class="col-md-5 charts-col-1">
        <div class="row titles-row">
          <div class="col-md-6 col-md-offset-3">
            <p class="title-graph centered">Expected turnout by party</p>
          </div>
        </div>
        <div class="row graph-section">
          <div class="col-md-8  centered pie-chart">
            <div id="piechart" ></div>
          </div>
        </div>
      </div>
      <div class="col-md-7 charts-col-2">
        <div class="row titles-row">
          <div class="col-md-6 col-md-offset-3">
            <p class="title-graph centered">Party affiliations by age</p>
          </div>
        </div>
        <div class="row graph-section">
          <div class="col-md-10 col-md-offset-1 bar-chart">
            <div id="chart_div"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="section-2">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 centered">
        <p class="title">What you need to Tip the Scales</p>
        <br>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 centered sq-1">
        <br>
        <i class="fa fa-check-square-o"></i>
        <p class="text-number"><%= @report.breakeven %></p>
        <p class="text-section-3">votes to break even</p>
      </div>
      <div class="col-md-4 centered sq-2">
        <br>
        <i class="fa fa-users"></i>
        <p class="text-number">Unaffiliated</p>
        <p class="text-section-3">Recommended Demographics to go after</p>
      </div>
      <div class="col-md-4 centered  sq-3">
        <br>
        <i class="fa fa-home"></i>
        <p class="text-number"><%= @report.doors %></p>
        <p class="text-section-3">doors to knock</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 centered sq-4">
        <br>
        <i class="fa fa-clock-o"></i>
        <p class="text-number"><%= (@report.doors*5)/60 %></p>
        <p class="text-section-3">hours with our route optimization</p>
      </div>
      <div class="col-md-4 centered  sq-5">
        <br>
        <i class="fa fa-phone"></i>
        <p class="text-number"><%= (@report.doors*2)/60 %></p>
        <p class="text-section-3">hours of phonecalls</p>
      </div>
      <div class="col-md-4 centered sq-6">
        <br>
        <i class="fa fa-envelope-o"></i>
        <p class="text-number">$<%= @report.doors %></p>
        <p class="text-section-3">to send letters</p>
      </div>
    </div>
  </div>
    
  

  <div class="container-fluid" id="footer">
    <div class="row">

    </div>
  </div>